<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ if gt (len .Description) 0 }}{{ .Description }}{{ else }}{{ if gt (len .Summary) 0 }}{{ .Summary }}{{ else }}{{.Site.Params.description}}{{ end }}{{ end }}"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#3a74d2" />

    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="me" href="https://twitter.com/ChidiWilliams__" />

    {{ template "_internal/opengraph.html" . }}
    <!-- -->
    {{ partial "twitter_cards.html" . }}

    <title>
      {{ if .Params.Title }}{{ .Params.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    </title>

    {{ range .AlternativeOutputFormats -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />
    ` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
    <!--  -->

    {{ $scss := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify }}
    <link href="{{ $scss.RelPermalink }}" rel="stylesheet" />

    <!--  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">

    <!--  -->

    {{ if .Params.math }}{{ partial "math.html" . }}{{ end }}
  </head>
  <body>
    <div class="container">
      {{- block "header" . }}{{ partial "header.html" .}}{{- end }}
      <div class="main">{{- block "main" . }}{{- end }}</div>
      {{- block "footer" . }}{{- end }}
    </div>
  </body>
</html>
