<header>
  <nav>
    <h1 class="main">
      <a href="/">
        {{.Site.Title}}
      </a>
    </h1>
    <div class="separator"></div>
    <ul class="social-icons">
      <li>
        <a href="https://github.com/chidiwilliams">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/chidiwilliams">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/chidiwilliams__">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
