<ul class="post-list">
  {{ range .posts }}
  <li class="post-list-item">
    <a href="{{ .RelPermalink }}" class="text-link">
      {{ if .Params.thumbnail }}
      <div class="post-list-item__image">
        <div
          class="post-list-item-image"
          style="
            background: url({{ .Params.thumbnail }}) center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          "
        ></div>
      </div>
      {{ end }}
      <div class="post-list-item__meta">
        <h3 class="post-list-item-meta__title">{{ .Title }}</h3>
        <p class="post-list-item-meta__summary">
          {{ $randomNum := index (seq 120 150 | shuffle) 1 }}
          <!--  -->
          {{ $summaryText := "" }}
          <!--  -->
          {{ if (gt (len .Summary) 160) }}
          <!--  -->
          {{ $summary := htmlUnescape (slicestr .Summary 0 160) }}
          <!--  -->
          {{ $summaryText = printf "%s%s" $summary "..." }} {{ end }}
          <!--  -->
          {{ default $summaryText .Description }}
        </p>
        <div class="post-list-item-meta__date post-meta">
          <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
        </div>
      </div>
    </a>
  </li>
  {{ end }}
</ul>
