<ul class="post-list">
  {{ range .posts }}
  <li class="post-list-item">
    <a href="{{ .RelPermalink }}" class="text-link">
      <div class="post-list-item__image">
        {{ with .Params.images }} {{ $url := index . 0 | absURL }}
        <div
          class="post-list-item-image"
          style="
            background: url({{ $url }}) center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          "
        ></div>
        {{else}}

        <div
          class="post-list-item-image"
          style="
            background: #3975cd;
            background: linear-gradient(45deg, #3975cd 0%, #76d2c4 100%);
          "
        ></div>
        {{end}}
      </div>
      <div class="post-list-item__meta">
        <h3 class="post-list-item-meta__title">{{ .Title }}</h3>
        <p class="post-list-item-meta__summary">
          {{ $randomChars := index (seq 120 150 | shuffle) 1 }}
          <!--  -->
          {{ htmlUnescape (slicestr .Summary 0 $randomChars) }}...
        </p>
        <div class="post-list-item-meta__date post-meta">
          <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
        </div>
      </div>
    </a>
  </li>
  {{ end }}
</ul>
