{{ define "main" }}
<h1>{{ .Title }}</h1>
{{.Content}}
<ul>
  {{range .Site.Data.projects}}
  <li>
    <b>{{.name}}:</b>
    <span>{{.description}}</span>
    <i>
      {{ if .github_url}}
      <a target="_blank" rel="noopener noreferrer" href="{{.github_url}}">Source</a>.
      {{end}}
      <!--  -->
      {{ if .blog_url}}
      <a target="_blank" rel="noopener noreferrer" href="{{.blog_url}}">Blog post</a>.
      {{end}}
      <!--  -->
      {{ if .playground_url}}
      <a target="_blank" rel="noopener noreferrer" href="{{.}}">Web playground</a>.
      {{end}}
    </i>
  </li>
  {{end}}
</ul>

<i
  >...and more on
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/chidiwilliams"
    >GitHub</a
  >!</i
>
{{ end }}
