{{ define "main" }}
<article class="post">
  <h1>{{ .Title }}</h1>
  <div class="time">
    {{ .PublishDate.Format "January 2, 2006" }}
  </div>
  {{ partial "serieslist.html" . }} {{ .Content }}
</article>

<div class="share-links">
  <ul class="social-icons">
    <li>
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw&text={{ .Params.title }}&via=ChidiWilliams__&url={{ .Permalink }}"
        target="_blank"
        rel="noopener"
        class="secondary"
      >
        <span class="sr-only">Share on Twitter</span>
        {{ partial "svg/twitter.html" . }}
      </a>
    </li>

    <li>
      <a
        href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Params.title }}"
        target="_blank"
        rel="noopener"
        class="secondary"
      >
        <span class="sr-only">Share on Reddit</span>
        {{ partial "svg/reddit.html" . }}
      </a>
    </li>
  </ul>
</div>

{{ partial "disqus.html" . }} {{ end }}
