{{ define "main" }}
<div class="home">
  <section class="site-description">
    <p>
      👋
      <b>
        Hi, I'm Chidi, a software developer from Lagos, Nigeria.
      </b>
    </p>
    <p>
      I enjoy building software and <a href="/simulations">simulations</a>,
      reading, and playing the guitar and keyboard.
    </p>
    <p>
      And I write about some of my interests on this blog. Enjoy!
    </p>
  </section>

  <!--  -->
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  <!--  -->
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  <!--  -->
  {{ $section_count := len $section }}

  <section class="articles">
    {{ range $section }}
    <div>
      {{ partial "summary.html" . }}
    </div>
    {{ end }}
  </section>
</div>
{{ end }}
