@import 'variables';

header {
  border-bottom: 1px solid $border-color;
  padding: 20px 0 15px;
  margin: 0 0 2rem;

  nav {
    h1.main {
      margin: 0;
      font-weight: 800;
      text-align: center;
      font-size: 2rem;

      a {
        color: $body-color;
        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
