@import 'variables';

header {
  border-bottom: 1px solid $border-color;
  padding: 20px 0 15px;
  margin: 0 0 50px;

  nav {
    h1.main {
      font-size: 1rem;
      margin: 0;
      font-weight: normal;

      a {
        color: $body-color;
        border-bottom: none;
        line-height: 30px;
        text-decoration: none;

        &:focus,
        &:hover {
          text-decoration: none;
          border-bottom: none;
        }
      }
    }
  }
}
