@import 'variables';

.newsletter-header {
  text-align: center;
  margin: 60px 0;

  .newsletter-header__image {
    max-width: 150px;
    border-radius: 50%;
  }

  .newsletter-header__title {
    margin: 0;
  }
}
