@import 'variables';

.articles article h2 {
  font-size: 1.25rem;
  margin: 5px 0 0;
  color: $primary-color;
}

.articles article .post-meta {
  margin-bottom: 5px;
}

.articles article {
  margin-bottom: 30px;
}

.post-meta {
  color: $secondary-color;
  font-size: $small-font;
  font-family: $secondary-font;
  text-transform: uppercase;
}

article .post-meta {
  margin: 5px 0 20px;
}

article.post {
  margin-bottom: 3em;

  .post-content {
    margin-bottom: 2em;
  }

  .post-footer {
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  p {
    a.image-link,
    a.image-link:hover,
    a.image-link:focus {
      text-decoration: none;
      border: none;
    }

    code {
      font-size: $small-font;
      background: #ffefef;
      padding: 2px 5px;
      border-radius: 3px;
      color: #522;
    }
  }

  pre {
    white-space: pre-wrap;
    padding: 20px;
    font-size: 0.8rem;
    border: 1px solid $border-color;
    border-radius: 3px;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    figcaption {
      text-align: center;
      font-size: $small-font;
      font-style: italic;
    }

    figcaption p {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  section.footnotes {
    font-size: $small-font;

    hr {
      margin: 2rem 0 1rem;
    }
  }

  .data-table {
    overflow: auto;
    margin-bottom: 1rem;
    table {
      margin-bottom: 0;
    }
  }

  table {
    border: solid 2px #c6dcff;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: $small-font;
    margin-bottom: 1rem;

    thead th {
      background-color: #e6ecf7;
      border: solid 2px #c6dcff;
      color: #3f5780;
      padding: 10px;
      text-align: left;
    }

    tbody td {
      border: solid 2px #c6dcff;
      color: #333;
      padding: 10px;
    }
  }

  video {
    width: 100%;
  }
}

// TOOD: Move to post wrapper
.comments {
  font-family: unset;
  margin-top: 3rem;
}
