.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &-item {
    padding: 20px 0;
    border-radius: 3px;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    &__image {
      flex: 0 0 180px;
      margin: 0 20px 20px 0;

      .post-list-item-image {
        height: 120px;
      }

      @media only screen and (max-width: 644px) {
        flex-grow: 1;
        margin: 0 0 10px;

        .post-list-item-image {
          height: 200px;
        }
      }
    }

    &__meta {
      flex: 1 400px;

      .post-list-item-meta__summary {
        margin: 0;
        color: $secondary-color;
        font-size: 0.85rem;
      }
    }

    &__meta h3 {
      margin-top: 0;
    }

    a {
      display: flex;
      flex-wrap: wrap;
      color: unset;
    }
  }
}
