@import 'header';
@import 'variables';
@import 'buttondown';
@import 'post-list';
@import 'bio';
@import 'post';
@import 'syntax';

html,
body {
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}

h1 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 0;
}

blockquote {
  font-style: italic;
}

body {
  line-height: 1.7;
  color: $body-color;
  background-color: #fff;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: $body-font;
}

hr {
  border: 1px solid $border-color;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.container {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding: 0 15px 100px;
}

li {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

a svg {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a.primary svg {
  fill: $primary-color;
}

a.secondary svg {
  fill: $secondary-color;
}

.articles article a.github-link {
  border-bottom: none;

  svg {
    width: 16px;
    height: 16px;
  }
}

section.shelf a.perfect-book-link {
  font-weight: bold;
}
