{{ define "header" }}
<!--  -->
{{ end }} {{ define "main" }}
<div class="newsletter-header">
  <img
    src="{{ index (.Site.Params.images) 0}}"
    alt="Chidi Williams"
    class="newsletter-header__image"
  />
  <h1 class="newsletter-header__title">{{.Title}}</h1>
  <div class="newsletter-header__description">{{.Description}}</div>
</div>

{{ partial "subscribe-form.html" (dict "title" "Subscribe to Chidi's Newsletter") }}

<!--  -->
<div class="archive" style="margin: 50px 0">
  <h2>Latest</h2>
  {{ $posts := where .Site.RegularPages "Section" "in" (slice "newsletter") }}
  <!--  -->
  {{ partial "post_list.html" (dict "posts" $posts) }}
</div>

<div style="text-align: center; font-size: 0.9rem">
  <a href="/">← Back to homepage</a>
</div>
<!--  -->
{{ end }}
