.bio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;

  a {
    color: $primary-color;
    font-weight: bold;
    text-decoration: underline;
  }

  &__image {
    margin-right: 20px;
  }

  &__description {
    margin-top: -1em;
    flex: 1 400px;

    @media screen and (min-width: 615px) {
      font-size: $small-font;
    }
  }
}
