@import 'variables';

.articles article h2 {
  font-size: 1.25rem;
  margin: 5px 0 0;
  color: $primary-color;
}

.articles article .post-meta {
  margin-bottom: 5px;
}

.articles article {
  margin-bottom: 30px;
}

.post-meta {
  color: $secondary-color;
  font-size: $small-font;
  font-family: $secondary-font;
}

article .post-meta {
  margin: 5px 0 20px;
}

article.post {
  margin-bottom: 3em;

  h1 {
    font-size: 2rem;
  }

  .post-content {
    margin-bottom: 2em;
  }

  .post-footer {
    font-style: italic;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  p {
    a.image-link,
    a.image-link:hover,
    a.image-link:focus {
      text-decoration: none;
      border: none;
    }
  }

  pre {
    white-space: pre-wrap;
    padding: 20px;
    font-size: 0.85rem;
    border: 1px solid $border-color;
    border-radius: 3px;
    tab-size: 4;
  }

  figure {
    display: flex;
    flex-direction: column;
    margin: 1em 0;

    figcaption {
      text-align: center;
      font-size: $small-font;
      font-style: italic;
    }

    figcaption p {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
    }
  }

  section.footnotes {
    font-size: $small-font;

    hr {
      margin: 2rem 0 1rem;
    }
  }

  .data-table {
    overflow: auto;
    margin-bottom: 1rem;
    table {
      margin-bottom: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: $extra-small-font;
    margin-bottom: 1rem;

    thead th {
      border: solid 1px $secondary-color;
      padding: 6px;
      text-align: left;
    }

    tbody td {
      border: solid 1px $secondary-color;
      padding: 6px;
    }
  }

  video {
    width: 100%;
  }

  aside.toc {
    details {
      background: #fafafa;
      padding-bottom: 1px;

      summary {
        font-weight: bold;
        padding: 0.5rem;
        background: #eaeaea;
      }

      ul {
        margin-top: 0;
        list-style-type: auto;
      }
    }
  }

  li {
    margin: 0.75rem 0;
  }
}
