$body-background: #fff5ee;
$body-color: #61311e;
$primary-color: #61311e;
$primary-color-2: #664a3f;
$primary-color-3: #e0ccc5;
$primary-color-4: #f6e8e3;

// $body-background: #ffffff;
// $body-color: #1c1c2c;
// $primary-color: #a66700;
// $primary-color-2: #555555;
// $primary-color-4: #eeeeee;

$old-primary-color: #3a74d2;

$body-font: 'Literata', ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
$secondary-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

$small-font: 0.875rem;
$extra-small-font: 0.75rem;
