$body-color: #1c1c2c;
$old-primary-color: #3a74d2;
$primary-color: #f19c12;
$secondary-color: #555555;
$border-color: #e9e9e9;

$body-font: 'Besley', ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
$secondary-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;

$small-font: 0.875rem;
