html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-display: swap;
  font-family: 'Inconsolata', monospace;
  line-height: 1.3;
}

h1 {
  margin: 30px 0 10px;
  font-size: 36px;
}

h2 {
  margin: 20px 0 10px;
}

h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

blockquote {
  font-style: italic;
}

:root {
  --primary-color: #3a74d2;
  --link-highlight-color: #144dab;
  --secondary-color: #555555;
  --body-color: #333333;
  --border-color: #eeeeee;
  --serif-font: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  font-size: 16px;
  line-height: 1.8;
  color: var(--body-color);
  background-color: #fff;
  font-family: var(--serif-font);
}

button {
  font-family: var(--serif-font);
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a.text-link {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

p a:focus,
p a:hover,
h1 a:focus,
h1 a:hover,
h2 a:focus,
h2 a:hover,
h3 a:focus,
h3 a:hover,
h4 a:focus,
h4 a:hover,
h5 a:focus,
h5 a:hover,
a.text-link:focus,
a.text-link:hover,
h6 a:focus,
h6 a:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--link-highlight-color);
  color: var(--link-highlight-color);
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.container {
  position: relative;
  max-width: 700px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  padding: 0 20px 50px 20px;
}

header {
  padding: 20px 0;
  height: 30px;
  color: var(--primary-color);
}

nav {
  display: flex;
  height: 100%;
}

nav div.separator {
  flex: 1;
}

nav h1.main {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

nav ul.social-icons li {
  margin-left: 1em;
}

nav ul.social-icons li a {
  font-size: 16px;
}

header nav a {
  border-bottom: none;
  line-height: 30px;
}

header nav a:focus,
header nav a:hover {
  text-decoration: none;
  border-bottom: none;
}

header nav .social-icons svg {
  width: 16px;
  height: 16px;
}

a svg {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a.primary svg {
  fill: var(--primary-color);
}

a.primary:focus svg,
a.primary:hover svg {
  fill: var(--link-highlight-color);
}

a.secondary svg {
  fill: var(--secondary-color);
}

a.secondary:focus svg,
a.secondary:hover svg {
  fill: var(--body-color);
}

.articles article h2 {
  font-size: 20px;
  margin: 5px 0;
  color: var(--primary-color);
}

.articles article .time {
  margin-bottom: 5px;
}

.articles article {
  margin-bottom: 20px;
}

article .time {
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--secondary-color);
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
}

article p {
  margin-top: 0;
}

article.post img {
  width: 100%;
}

article.post pre {
  overflow-x: auto;
  padding: 20px;
  font-size: 13px;
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

article.post figure {
  display: flex;
  flex-direction: column;
}

article.post figure figcaption {
  text-align: center;
  font-size: 14px;
}

section.site-description {
  font-size: 16px;
  margin-bottom: 30px;
  padding: 15px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 3px;
}

section.site-description p {
  margin: 0;
}

.new-tab {
  margin-left: -7px;
}

span.new-tab svg {
  width: 16px;
  height: 16px;
}

footer {
  border: solid var(--border-color);
  border-width: 2px 0;
  padding: 35px 0;
  margin: 2.5em 0 2em;
}

.share-links {
  margin-bottom: 1.25em;
}

.share-links .header {
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--secondary-color);
  font-size: 14px;
  font-family: 'Inconsolata', monospace;
}

ul.social-icons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  line-height: 1;
}

ul.social-icons li {
  margin-right: 0.75em;
}

ul.social-icons svg {
  width: 20px;
  height: 20px;
}

.articles article a.github-link {
  border-bottom: none;
}

.articles article a.github-link svg {
  width: 16px;
  height: 16px;
}

.series-list {
  border: 2px solid var(--border-color);
  margin: 0 auto 20px;
  border-radius: 3px;
  padding: 20px;
  max-width: 400px;
}

.title-name {
  font-weight: bold;
}

.series-list ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

video {
  width: 100%;
}

p a.image-link,
p a.image-link:hover,
p a.image-link:focus {
  text-decoration: none;
  border: none;
}

table {
  border: solid 2px #c6dcff;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 13px;
  margin-bottom: 1rem;
}

table thead th {
  background-color: #e6ecf7;
  border: solid 2px #c6dcff;
  color: #3f5780;
  padding: 10px;
  text-align: left;
}

table tbody td {
  border: solid 2px #c6dcff;
  color: #333;
  padding: 10px;
}

.data-table {
  overflow: auto;
  margin-bottom: 1rem;
}

.data-table table {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

button#load_comments {
  width: 100%;
  height: 60px;
  border: 0;
  border-radius: 3px;
}

.post-next-previous {
  display: flex;
}

.post-next-previous > div {
  flex: 1;
}

.post-next-previous .post-previous {
  text-align: right;
}

.post-next-previous .post-next-previous-arrow {
  font-family: var(--serif-font);
  color: var(--secondary-color);
}
