@tailwind base;
@tailwind components;
@tailwind utilities;

button.copy,
span.lang {
  display: none;
}

:root {
  --color-foreground: 13 81% 15%; /* orange.950 */
  --color-background: 33 100% 96%; /* orange.50 */

  --color-secondary-foreground: 16 20% 41%;
}
