<p>
  <strong>Hi, I'm Chidi.</strong>
  I'm a software engineer, currently working in the finance industry in London. Before my
  current role, I built consumer and business fintech products at a startup in Lagos.
</p>
<p>
  I write articles about what I'm learning and building on this blog—most of them about
  programming and technology. Outside tech, I also like to
  <a href="/bookshelf/">read</a> and
  <a href="https://www.youtube.com/channel/UCusE4ZHQoVPJ-zzhZZSyL9w">play music</a>.
</p>
<p>
  You can find me on Twitter at
  <a href="https://twitter.com/ChidiWilliams__">@chidiwilliams__</a> or send me an email
  at <a href="mailto:williamschidi1@gmail.com">williamschidi1@gmail.com</a>.
</p>
