<h1>Hi, I'm Chidi. 👋</h1>
<p>I'm a software engineer and I currently live and work in London.</p>
<p>
  I write articles about what I'm learning and building on this blog—most of them about
  programming and technology. I also keep a list of
  <a href="/projects/">software projects I've made</a>.
</p>
<p>
  You can find me on Twitter at
  <a href="https://twitter.com/ChidiWilliams__">@chidiwilliams__</a> or send me an email
  at <a href="mailto:williamschidi1@gmail.com">williamschidi1@gmail.com</a>.
</p>
