<!-- Source: https://jross.me/lazy-loading-disqus-comments-with-intersectionobserver/ -->
<div class="comment-wrap">
  <button class="btn btn-default" id="load_comments">Load comments</button>
  <div class="disqus-container">
    <div id="disqus_thread"></div>
    <noscript
      >Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript"
        >comments powered by Disqus.</a
      ></noscript
    >
  </div>
</div>

<script>
  const commentsButton = document.getElementById('load_comments');
  let is_disqus_loaded = false;
  function loadComments() {
    if (!is_disqus_loaded) {
      is_disqus_loaded = true;
      const d = document,
        s = d.createElement('script');
      s.src = 'https://chidiwilliams.disqus.com/embed.js';
      (d.head || d.body).appendChild(s);
      commentsButton.classList.add('hidden');
    }
  }
  // add click handler to comments button to load comments, and emit event to GA
  if (commentsButton) {
    commentsButton.addEventListener('click', function () {
      loadComments();
    });
  }
  // load comments for search engines to index
  if (
    /bot|google|baidu|bing|msn|duckduckgo|slurp|yandex/i.test(
      navigator.userAgent,
    )
  ) {
    loadComments();
  }
  // load comments if URL hash contains #comment
  if (location && location.hash && location.hash.includes('comment')) {
    loadComments();
  }
  // load comments when comments enter viewport
  if (!!window.IntersectionObserver) {
    const commentBox = document.querySelector('.comment-wrap');
    const intersectionObserver = new IntersectionObserver(function (
      entries,
      observer,
    ) {
      if (entries && entries[0] && entries[0].isIntersecting) {
        loadComments();
        observer.unobserve(commentBox);
      }
    });
    intersectionObserver.observe(commentBox);
  }
</script>
