{{ define "main" }}
<section class="articles">
  <h1>{{.Title}}</h1>
  {{range .Site.Data.simulations}}
  <article>
    <h2>
      <a href="{{.url}}" target="_blank" rel="noopener" class="primary"
        >{{.title}}</a
      >
      <a
        href="{{.githubURL}}"
        target="_blank"
        rel="noopener"
        class="github-link secondary"
      >
        {{ partial "svg/github.html" . }}
      </a>
    </h2>
    <div class="time">
      <span>
        {{ dateFormat "January 2006" .date }}
      </span>
    </div>
    {{ with .description }}
    <p>{{ . }}</p>
    {{ end }}
  </article>
  {{end}}
</section>
{{ end }}
