{{ define "main" }}
<section class="articles shelf">
  <article>
    <h1>{{.Title}}</h1>
    <div class="time">
      {{ .PublishDate.Format "January 2, 2006" }}
    </div>
    {{.Content}}
    <ul>
      {{range sort .Site.Data.shelf "title"}}
      <li>
        <a
          href="{{.href}}"
          target="_blank"
          rel="noopener"
          class="text-link {{ if gt .rating 0 }}{{ if gt .rating 4 }}perfect-book-link{{ else }}read-book-link{{ end }}{{ else }}pending-book-link{{ end }}"
          >{{.title}}</a
        >
        {{ if lt .rating 1 }}<span>⌛</span>{{ end }}
      </li>
      {{end}}
    </ul>
  </article>
</section>
{{ end }}
